@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #14141400;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Poppins;
  src: url(./fonts/Poppins/Poppins-Bold.ttf);
}

* {
  font-family: "Poppins", sans-serif;
}
